/* body {
    background-image: url('../images/background.png');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}; */

.banner{
    background-color: yellow;
};

.color-tab {
    background-color: #00afef;
}

/* .bg_img_team {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/bg_team.jpg');    
} */