/* body {
    background-image: url('../images/background.png');
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}; */

.banner{
    background-color: yellow;
};

.color-tab {
    background-color: #00afef;
}

/* .bg_img_team {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/bg_team.jpg');    
} */

/*Voucher Section Starts Here*/
.voucher-form {
    position: relative;
}

.voucher-form input {
    height: 60px;
    border: 1px solid #d5d3d3;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    color: #292929;
    padding-left: 30px;
    background: #ffffff;
}

.voucher-form input::placeholder {
    color: #8f8f8f;
}

.voucher-form button {
    font-weight: 600;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0 35px;
    background: transparent;
    /* background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
    background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%); */
    /* box-shadow: 0px 17px 24px 0px rgba(18, 83, 252, 0.51); */
    border: none;
    outline: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    color: #00afef;
    width: auto;
}

@media (max-width: 575px) {
    .voucher-form input {
        height: 50px;
        padding-left: 20px;
        font-size: 14px;
    }

    .voucher-form button {
        line-height: 50px;
        font-size: 14px;
        padding: 0 20px;
        height: 50px;
    }
}

/*Donatur Section Starts Here*/
.donatur-form {
    position: relative;
}

.donatur-form input {
    height: 60px;
    border: 1px solid #d5d3d3;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    color: #292929;
    padding-left: 30px;
    width: 550px;
    background: #f8f8fb;
}

.donatur-form input::placeholder {
    color: #bac6d3;
}

.donatur-form button {
    font-weight: 600;
    text-transform: uppercase;
    height: 60px;
    line-height: 60px;
    padding: 0 35px;
    background: transparent;
    /* background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
    background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%); */
    /* box-shadow: 0px 17px 24px 0px rgba(18, 83, 252, 0.51); */
    border: none;
    outline: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    top: 0;
    color: #00afef;
    width: 50%;
}

@media (max-width: 575px) {
    .donatur-form input {
        height: 50px;
        padding-left: 20px;
        font-size: 14px;
    }

    .donatur-form button {
        line-height: 50px;
        font-size: 14px;
        padding: 0 20px;
        height: 50px;
    }
}

@media (min-width: 992px) {
    .subscribe-thumb {
        margin-top: -80px;
    }

    .subscribe-pt {
        padding-top: 80px;
    }
}

@media (min-width: 1200px) {
    .subscribe-thumb {
        margin-top: -185px;
    }

    .subscribe-pt {
        padding-top: 185px;
    }
}

.bg_img_testimony {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('/images/experience-bg.png');    
}
.bg_footer{
    background-image:rgba(10, 27, 84, 0.892);
}

.amount-area-price {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
    text-align: center;
}

.amount-area-price .item {
    text-align: center;
    margin-bottom: 30px;
    width: 30%;
}

.amount-area-price .item .title {
    margin: 0;
    line-height: 1;
    background: linear-gradient(-90deg, #00afef 0%, #0b507d 100%);
    text-shadow: 1.452px 5.822px 8.64px rgba(19, 71, 111, 0.467);
    /* text-shadow: 1px 1px #0b507d; */
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: 600;
}

.amount-area-price .item .title sup {
    font-size: 50%;
    background: #00afef;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.amount-area-price .item .info {
    display: block;
    font-size: 15px;
    color: #0b507d;
    font-weight: 600;
}

.amount-area-price .item:nth-child(odd) {
    /* border-right: 1px solid #8585c6; */
}

@media (max-width: 1199px) and (min-width: 992px) {
    .amount-area-price {
        margin-bottom: 0;
        margin-left: 10px;
    }

    .amount-area-price .item .title {
        font-size: 40px;
    }
}

@media (max-width: 575px) {
    .amount-area-price .item .title {
        font-size: 25px;
    }

    .amount-area-price .item .info {
        font-size: 10px;
    }
}

@media (max-width: 575px) {
    .amount-area-price {
        margin-bottom: 0;
        margin-left: 10px;
    }
}

/* coverage-wrapper-donatur */
.coverage-wrapper-donatur {
    position: relative;
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur {
        margin-top: 60px;
    }
}

.coverage-wrapper-donatur div[class*="border-item"] {
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.coverage-wrapper-donatur div[class*="border-item"] * {
    margin: 0;
}

.coverage-wrapper-donatur div[class*="border-item"] .title {
    font-weight: 600;
    line-height: 2px;
    margin-top: 1px;
}

.coverage-wrapper-donatur .border-item-1 {
    background: -moz-linear-gradient(0deg, #00afef 0%, #0b507d 100%);
    background: -webkit-linear-gradient(0deg, #00afef 0%, #0b507d 100%);
    background: -ms-linear-gradient(0deg, #00afef 0%, #0b507d 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125);
}

.coverage-wrapper-donatur .border-item-2 {
    background: -moz-linear-gradient(0deg, #83c3fa 0%, #66b7ff 47%, #6290fb 75%, #5e69f6 100%);
    background: -webkit-linear-gradient(0deg, #83c3fa 0%, #66b7ff 47%, #6290fb 75%, #5e69f6 100%);
    background: -ms-linear-gradient(0deg, #83c3fa 0%, #66b7ff 47%, #6290fb 75%, #5e69f6 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-3 {
    background: -moz-linear-gradient(0deg, #f6d365 0%, #fda085 100%);
    background: -webkit-linear-gradient(0deg, #f6d365 0%, #fda085 100%);
    background: -ms-linear-gradient(0deg, #f6d365 0%, #fda085 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-4 {
    background: -moz-linear-gradient(0deg, #d180dd 0%, #796be8 100%);
    background: -webkit-linear-gradient(0deg, #d180dd 0%, #796be8 100%);
    background: -ms-linear-gradient(0deg, #d180dd 0%, #796be8 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-5 {
    background: -moz-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -webkit-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -ms-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-6 {
    background: -moz-linear-gradient(0deg, #97ee85 0%, #64b3f4 99%);
    background: -webkit-linear-gradient(0deg, #97ee85 0%, #64b3f4 99%);
    background: -ms-linear-gradient(0deg, #97ee85 0%, #64b3f4 99%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-7 {
    background: -moz-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -webkit-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -ms-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-8 {
    background: -moz-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -webkit-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -ms-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-9 {
    background: -moz-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -webkit-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -ms-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-10 {
    background: -moz-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -webkit-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -ms-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

.coverage-wrapper-donatur .border-item-11 {
    background: -moz-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -webkit-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    background: -ms-linear-gradient(0deg, #e1358f 0%, #7e6ce7 100%);
    box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur {
        min-height: 609px;
        min-width: 700px;
        
    }

    .coverage-wrapper-donatur div[class*="border-item"] {
        position: absolute;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .coverage-wrapper-donatur div[class*="border-item"] * {
        color: #ffffff;
        text-transform: capitalize;
    }

    .coverage-wrapper-donatur .border-item-1 {
        width: 70px;
        height: 70px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        left: 70px;
        top: 155px;
    }

    .coverage-wrapper-donatur .border-item-1 .name {
        font-size: 15px;
        line-height: 16px;
        margin-top: 13px;
    }

    .coverage-wrapper-donatur .border-item-1 .title {
        line-height: 0 !important;
        font-size: 18px;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-1 {
        top: 0;
        left: 0;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-2 {
        width: 60px;
        height: 60px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        top: 230px;
        left: 100px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-2 {
        left: 40px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-2 .name {
        font-size: 11px;
        line-height: 12px;
        margin-top: 11px;
    }

    .coverage-wrapper-donatur .border-item-2 .title {
        font-size: 15px;
    }

    .coverage-wrapper-donatur .border-item-3 {
        width: 60px;
        height: 60px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        top: 275px;
        left: 165px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-3 {
        top: 140px;
        right: 240px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-3 .name {
        font-size: 12px;
        line-height: 12px;
        margin-top: 11px;
    }

    .coverage-wrapper-donatur .border-item-3 .title {
        font-size: 15px;
    }

    .coverage-wrapper-donatur .border-item-4 {
        width: 60px;
        height: 60px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        bottom: 235px;
        left: 230px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-4 {
        bottom: 0;
        left: 100px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-4 .name {
        font-size: 12px;
        line-height: 2px;
    }

    .coverage-wrapper-donatur .border-item-4 .title {
        font-size: 15px;
    }

    .coverage-wrapper-donatur .border-item-5 {
        width: 50px;
        height: 50px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        top: 240px;
        left: 565px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-5 {
        left: 365px;
        bottom: 170px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-5 .name {
        font-size: 10px;
        line-height: 12px;
        margin-top: 7px;
    }

    .coverage-wrapper-donatur .border-item-5 .title {
        font-size: 12px;
        margin-top: 0 !important;
    }

    .coverage-wrapper-donatur .border-item-6 {
        width: 50px;
        height: 50px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        right: 325px;
        top: 190px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-6 {
        right: 40px;
        bottom: 60px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-6 .name {
        font-size: 9px;
        line-height: 12px;
        margin-top: 3px;
    }

    .coverage-wrapper-donatur .border-item-6 .title {
        font-size: 13px;
        margin-top: 0 !important;
    }

    .coverage-wrapper-donatur .border-item-7 {
        width: 50px;
        height: 50px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        bottom: 140px;
        right: 450px;
    }
}
    
@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-7 {
        left: 365px;
        bottom: 170px;
    }
}
    
@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-7 .name {
        font-size: 9px;
        line-height: 12px;
        margin-top: 3px;
        text-align: center;
    }

    .coverage-wrapper-donatur .border-item-7 .title {
        font-size: 10px;
        margin-top: 0 !important;
    }

    .coverage-wrapper-donatur .border-item-8 {
        width: 95px;
        height: 95px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        bottom: 135px;
        right: 300px;
    }
}
    
    @media (min-width: 768px) and (max-width: 991px) {
        .coverage-wrapper-donatur .border-item-8 {
            left: 365px;
            bottom: 170px;
    }
}
        
    @media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-8 .name {
        font-size: 16px;
        line-height: 16px;
        margin-top: 1px;
        text-align: center;
    }

    .coverage-wrapper-donatur .border-item-8 .title {
        font-size: 25px;
        margin-top: 0 !important;
    }

    .coverage-wrapper-donatur .border-item-9 {
        width: 60px;
        height: 60px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        bottom: 250px;
        right: 270px;
    }
}
            
@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-9 {
        left: 365px;
        bottom: 170px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-9 .name {
        font-size: 16px;
        
    }

    .coverage-wrapper-donatur .border-item-9 .title {
        font-size: 18px;
        margin-top: 0 !important;
    }

    .coverage-wrapper-donatur .border-item-10 {
        width: 70px;
        height: 70px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        bottom: 320px;
        right: 170px;
    }
}
            
@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-10 {
        left: 365px;
        bottom: 170px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-10 .name {
        font-size: 16px;
        line-height: 16px;
        margin-top: 3px;
        text-align: center;
    }

    .coverage-wrapper-donatur .border-item-10 .title {
        font-size: 26px;
        margin-top: 0 !important;
    }

    .coverage-wrapper-donatur .border-item-11 {
        width: 140px;
        height: 140px;
        background: -ms-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -moz-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        background: -webkit-linear-gradient(-65deg, #00afef 0%, #0b507d 100%);
        box-shadow: 5.806px 23.287px 30.72px 1.28px rgba(11, 80, 125, 0.5);
        bottom: 220px;
        right: 10px;
    }
}
            
@media (min-width: 768px) and (max-width: 991px) {
    .coverage-wrapper-donatur .border-item-11 {
        left: 365px;
        bottom: 170px;
    }
}

@media (min-width: 768px) {
    .coverage-wrapper-donatur .border-item-11 .name {
        font-size: 16px;
        text-align: center;
    }

    .coverage-wrapper-donatur .border-item-11 .title {
        font-size: 27px;
        margin-top: 0 !important;
    }
}


@media (max-width: 767px) {
    .coverage-wrapper-donatur {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -20px;
    }

    .coverage-wrapper-donatur div[class*="border-item"] {
        width: calc((100% / 3) - 13.33px);
        margin-bottom: 20px;
        padding: 20px 10px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

    .coverage-wrapper-donatur div[class*="border-item"] * {
        color: #ffffff;
        margin: 0;
    }

    .coverage-wrapper-donatur div[class*="border-item"] .name {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) and (max-width: 499px) {
    .coverage-wrapper-donatur div[class*="border-item"] {
        width: calc(50% - 10px);
    }
}

/* nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fe8888;
    min-height: 8vh;
    font-family: 'Montserrat', sans-serif;
    }
    div#logo {
    letter-spacing: 5px;
    color: #fefefe;
    font-weight: 800;
    font-size: 2rem;
    }
    ul.nav-links {
    display: flex;
    justify-content: space-between;
    width: 40%;
    line-height: 75px;
    }
    ul.nav-links li {
    list-style: none;
    }
    ul.nav-links a {
    text-decoration: none;
    color: #fefefe;
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    }
    #burger {
    display: none;
    cursor: pointer;
    }
    #burger div {
    width: 30px;
    height: 3px;
    margin: 8px;
    background-color: #fefefe;
    transition: all 0.3s ease-in;
    }
    ul.dropdown-menu {
    position: absolute;
    top: 8vh;
    background-color: #966d6d;
    min-width: 140px;
    cursor: pointer;
    display: none;
    }
    ul.dropdown-menu li:first-child {
    margin: 0 0 10px 0;
    }
    ul.dropdown-menu li {
    margin: 10px 0;
    }
    ul.dropdown-menu li:last-child {
    margin: 10px 0 0 0;
    }
    ul.dropdown-menu a {
    line-height: 8vh;
    padding: 5px 15px;
    background-color: #f1d1d1;
    line-height: 50px;
    } */

    /* Tablet */
/* @media screen and (max-width: 1024px) {
    ul.nav-links {
      width: 50%;
    }
  } */
  /* Mobile */
  /* @media screen and (max-width: 768px) {
    ul.nav-links {
      position: absolute;
      flex-direction: column;
      width: 100%;
      height: 92vh;
      top: 8vh;
      right: 0;
      padding: 100px;
      align-items: center;
      justify-content: flex-start;
      background-color: #fe8888;
      opacity: 0.8;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }
  ul.nav-links li {
      opacity: 0;
    }
  ul.nav-links a {
      width: 100%;
    }
  div#burger {
      display: block;
    }
  ul.dropdown-menu {
      position: relative;
      top: 0;
    }
  }

  .nav-active {
    transform: translateX(0) !important;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-9px, 10px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-60px);
    }
  to {
      opacity: 1;
      transform: translateX(0px);
    }
  } */

  